<%require( 'pry-byebug' )%>

<h1>Transactions</h1>
<ul>
<li><a href="/transactions"><%=@now.strftime("%-B")%> </a> </li>
<li> <a href="<%=@now.prev_month.strftime("%-m")%>"> <%=@now.prev_month.strftime("%-B")%> </a> </li>
<%5.times do %>
  <%  @month_back = @month_back.prev_month %>
  <li> <a href="<%=@month_back.strftime("%-m")%>"> <%=@month_back.strftime("%-B")%> </a> </li>
<%end%>
</ul>

<h2><%=@month_on_page_word%></h2>

<table>
  <tr>
    <th>Time</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Amount</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Tag</th>
  </tr>
  <% for transaction in @transactions %>
    <% if transaction.time_stamp.strftime("%-m") == @month_on_page %>
      <tr>
        <td><%= transaction.time_stamp.strftime("%H:%M") %></td>
        <td>|</td>
        <td><%= transaction.time_stamp.strftime("%d.%m.%Y") %></td>
        <td>|</td>
        <td><%= transaction.amount %></td>
        <td>|</td>
        <td><a href="/merchants"> <%= transaction.find_merchant.merchant_name %></a></td>
        <td>|</td>
        <td><a href="/tags"><%= transaction.find_tag.tag_name.capitalize %></a></td>
      </tr>
    <%end%>
  <%end%>
</table>
