
<%require( 'pry-byebug' )%>

<h1>Transactions</h1>
<ul>
<li> <a href="/transactions/month/<%=@month_back.strftime('%-m')%>"> Monthly views </a> </li>
<li> <a href="/transactions/year/<%=@month_back.strftime('%Y')%>"> Yearly views </a> </li>
</ul>


<%@monthly_total = 0%>
  <% for transaction in @transactions %>
    <% if transaction.time_stamp.strftime("%-m") == @now.strftime("%-m") %>
      <%@monthly_total += transaction.amount%>
    <%end%>
  <%end%>
  <h2>Total for <%=@now.strftime("%B")%> so far: £<%=@monthly_total.round(2)%></h2>


<table>
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Actions</th>
  </tr>
    <% for transaction in @transactions %>
      <% if transaction.time_stamp.strftime("%-m") == @now.strftime("%-m") %>

          <tr>
            <td><%= transaction.time_stamp.strftime("%H:%M") %></td>
            <td><%= transaction.time_stamp.strftime("%d.%m.%Y") %></td>
            <td>£ <%= transaction.amount %></td>
            <td>
              <form class= "button merchant_by" action= "/transactions/filter/<%= transaction.find_merchant.merchant_name %>" method= "get">
                <input id= "button_merchant_by" type= "hidden" value= "<%= transaction.find_merchant.merchant_name %>" name= "merchant_by" />
                <input type="submit" value= "<%= transaction.find_merchant.merchant_name %>">
              </form>
            </td>

            <td>
              <form class= "button tag_by" action= "/transactions/filter/<%= transaction.find_tag.tag_name %>" method= "get">
                <input id= "button_tag_by" type= "hidden" value= "<%= transaction.find_tag.tag_name %>" name= "tag_by" />
                <input type="submit" value= "<%= transaction.find_tag.tag_name.capitalize %>">
              </form>
            </td>
            <td>
              <form class= "button edit" action= "/transactions/<%=transaction.id%>/edit" method= "post">
                <input type="submit" value= "Edit">
              </form>
              <form class= "button delete" action= "/transactions/<%=transaction.id%>/delete" method= "post">
                <input type="submit" value= "Delete">
              </form>
            </td>
          </tr>
        <%end%>
      <%end%>
</table>

<a href="transactions/new">Create transaction</a>
